extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug
block content
    if products.length > 0
        .row
            each product in products
                +createProduct(product)
    else
        h1 No Products
   
